@import "https://fonts.googleapis.com/css?family=Roboto";

@import
"https://fonts.googleapis.com/css?family=Dancing+Script";

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  background-color: #179797;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

#navbar {
  align-self: center;
}
#navbar ul {
  list-style-type: none;
  display: flex;
}
#navbar li {
  font-size: 20px;
}

#navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 18px 45px 18px;
}

#navbar li a:hover {
  background-color: #0a5252;
  color: #b3f6f6;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background-color: #B9C0C1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#welcome-section h1 {
  align-self: center;
  font-size: 45px;
  margin: 0;
  color: white;
}

#welcome-section p {
  align-self: center;
  font-size: 20px;
  color: white;
}
#projects-wrap{
  background-color: white;
  padding: 40px 0px 40px 0px;
}
#projects-title{
  font-size: 50px;
  text-align: center;
  padding-bottom: 40px;
  color: #179797;
}

#projects{
 display: grid;
 grid-template-columns: 300px 300px;
 grid-template-rows: 300px 300px;
 grid-column-gap: 50px;
 grid-row-gap: 50px;
 justify-content: center;
}
#project-1{
  background: #9AFADA;
}

#project-2{
  background: #9AFADA;
}
#project-3{
  background: #9AFADA;
}
#project-4{
  background: #9AFADA;
}
.project_name{
  position: absolute;
  font-size: 30px;
  z-index: 1;
  margin: 0;
}
.project-tile {
  color: white;
  border-color: #179797;
  border-style: solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.project-tile:hover {
  cursor: pointer;
  background: transparent;
}
.project-tile:hover .project_link{
  opacity: 1;
}

.project_link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.project_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.project_link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
#contact-wrapper{
  background: #FFF99A;
  
}
#contact-grid{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px;
  grid-column-gap: 100px;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}
#about{
  background: white;
  border-color: #51EFDF;
  border-style: solid;
  text-align: center;
}
#about h1{
  font-family: 'Dancing Script', cursive;
  padding: 15px 0px 15px 0px;
}
#contact{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-content: center;
}
.mini-box{
  border-color: black;
  border-style: solid;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#github{
  background: #51EFDF;
}
#linkedin{
  background: #51EFDF;
}
#phone{
  background: #51EFDF;
}
#email{
  background: #51EFDF;
}

.contact-link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.mini-box:hover {
  cursor: pointer;
  background: transparent;
}

.mini-box:hover .contact-link{
  opacity: 1;
  background: green;
}
.mini-box p{
  z-index: 1;
}
#footer{
  width: 100%;
  height: 100px;
  background: #22313F;
  color: white;
}
